/****************************************
  Inherited Syles
*****************************************/
/*
See this explanation for details
https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/
html {
  box-sizing: border-box;
  color: #444;
  font: 12pt 'Open Sans', Arial;
  font-weight: 300; }

*, *::before, *::after {
  box-sizing: inherit;
  color: inherit;
  font: inherit; }

/****************************************
  Defaults
*****************************************/
/****************************************
  Helpers
*****************************************/
/****************************************
  Layout
*****************************************/
.page {
  background-color: pink;
  position: relative;
  height: 100vh; }

.signup-container {
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .signup-container > div {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-height: 100%; }

.social-login-container {
  background-color: #fff;
  background-image: url(../images/woman-500w.jpg);
  background-size: cover;
  background-position: center center;
  min-width: 400px; }
  .social-login-container div {
    text-align: center; }
  .social-login-container button {
    text-transform: uppercase;
    width: 80%;
    color: white;
    border-radius: 5px; }
    .social-login-container button#googleSignUp {
      background-color: #db4437; }
    .social-login-container button#twitterSignUp {
      background-color: #1da1f2; }
    .social-login-container button#facebookSignUp {
      background-color: #3b5998; }

.signup-form-container {
  background-color: red;
  padding: 40px; }
  .signup-form-container h1 {
    margin: 0 auto;
    text-align: center; }
  .signup-form-container #signup-form {
    margin: 0 auto;
    background-color: cyan; }
    .signup-form-container #signup-form label input:not(#userNewsletterOptIn) {
      display: block;
      width: 100%;
      border: 0;
      background-color: transparent;
      margin-top: 5px;
      margin-bottom: 10px;
      border-bottom: 1px solid black; }
    .signup-form-container #signup-form #signup-form-submit-button {
      background-color: orange;
      display: block;
      width: 100%;
      border: none;
      color: #fff; }

/****************************************
  Components
*****************************************/
