/****************************************
  Inherited Syles
*****************************************/
/*
See this explanation for details
https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/
html {
  box-sizing: border-box;
  color: #444;
  font: 12pt 'Open Sans', Arial;
  font-weight: 300; }

*, *::before, *::after {
  box-sizing: inherit;
  color: inherit;
  font: inherit; }

/****************************************
  Defaults
*****************************************/
/****************************************
  Helpers
*****************************************/
/****************************************
  Layout
*****************************************/
.page {
  position: relative;
  background-color: pink;
  height: 100vh; }

.signup-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
  max-width: 700px;
  width: 70%; }
  .signup-container > div {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-height: 100%; }

.social-login-container {
  position: relative;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #fff;
  background-image: url(../images/woman-500w.jpg);
  background-size: cover;
  background-position: center center; }
  .social-login-container .social-options {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%; }
    .social-login-container .social-options div {
      text-align: center; }
    .social-login-container .social-options button {
      margin-top: 15px;
      margin-bottom: 15px;
      padding: 10px 50px 10px 15px;
      font-size: .55em;
      text-transform: uppercase;
      width: 90%;
      color: white;
      border-radius: 10px;
      border: none; }
      .social-login-container .social-options button .left-span {
        display: inline-block;
        width: 20%;
        text-align: left; }
      .social-login-container .social-options button .center-span {
        display: inline-block;
        width: 70%; }
      .social-login-container .social-options button:hover {
        color: green; }
      .social-login-container .social-options button#googleSignUp {
        background-color: #db4437; }
      .social-login-container .social-options button#twitterSignUp {
        background-color: #1da1f2; }
      .social-login-container .social-options button#facebookSignUp {
        background-color: #3b5998; }

.signup-form-container {
  position: relative;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #253039;
  padding: 40px;
  color: white; }
  .signup-form-container > span {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    padding: 5px;
    background-color: #253039; }
  .signup-form-container h1 {
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center; }
  .signup-form-container #signup-form {
    margin: 0 auto;
    margin-bottom: 30px; }
    .signup-form-container #signup-form label {
      text-transform: uppercase;
      font-size: .55em; }
      .signup-form-container #signup-form label span {
        color: #F55300; }
      .signup-form-container #signup-form label input:not(#userNewsletterOptIn) {
        display: block;
        width: 100%;
        min-width: 250px;
        border: 0;
        background-color: transparent;
        margin-top: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #35404B;
        font-size: 1.5em; }
    .signup-form-container #signup-form .newsletter-checkbox input[type=checkbox] {
      margin-right: 10px; }
    .signup-form-container #signup-form #signup-form-submit-button {
      display: block;
      margin-top: 15px;
      border: none;
      border-radius: 7px;
      padding: 10px 0;
      background-color: #F55300;
      font-size: .55em;
      text-transform: uppercase;
      width: 100%;
      color: #fff; }

/****************************************
  Components
*****************************************/
